<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content = "width-device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-LZN37f50GtY3VHisS14W3nokeysE1SISEsQp9S+oqd12check+A56blitFS$J"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div th:insert="~{navbar.html}"></div>
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome back, Admin</h1>
    <p>Easily manage your data from this admin <mark>CNS</mark></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 pt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Categories</h4>
                    <p class="card-text">Manage the categories section here.</p>
                    <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage the categories section here</a>
                </div>

            </div>
        </div>
        <div class="col-sm-3 pt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-text">Manage all the products here.</p>
                    <a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary">Manage the products section here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-7H/QCf7frQ9ZZI5z8nK/ZI5Fm5CB1R46AihYZL5N40R6f5UQFWhj2f5OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.8/dist/umd/popper.min.js" integrity="sha384-Zj772h81WqpO3ZndfgC6yLoFhYwzXl7JRk5vUTsEyUn5yrF3soFbjuR2c5Bd2EA1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-MCw98/SFnGEtc5G8f7J13KSqnszU9b0sW1BvI7044ijc2q4w5ynM6vl0f5v2j0I5l" crossorigin="anonymous"></script>

</body>
</html>