<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content = "width-device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-LZN37f50GtY3VHisS14W3nokeysE1SISEsQp9S+oqd12check+A56blitFS$J"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div th:insert="~{navbar.html}"></div>
<div class="container">
    <a th:href="@{/admin/categories/add}" style="margin: 20px 0" class="btn btn-primary">Add Category</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Category Name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, iStat : ${categories}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${category.name}">Category Name</td>
            <td>
                <a href="" th:href="@{/admin/categories/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="" th:href="@{/admin/categories/update/{id}(id=${category.id})}" class="btn warning">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-7H/QCf7frQ9ZZI5z8nK/ZI5Fm5CB1R46AihYZL5N40R6f5UQFWhj2f5OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.8/dist/umd/popper.min.js" integrity="sha384-Zj772h81WqpO3ZndfgC6yLoFhYwzXl7JRk5vUTsEyUn5yrF3soFbjuR2c5Bd2EA1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-MCw98/SFnGEtc5G8f7J13KSqnszU9b0sW1BvI7044ijc2q4w5ynM6vl0f5v2j0I5l" crossorigin="anonymous"></script>

</body>
</html>