<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <!-- Include Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card">
                <div class="card-header bg-dark text-white">
                    Sign In
                </div>
                <div class="card-body">

                    <form th:action="@{/authenticateTheUser}" method="POST">

                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password.
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>


                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                    </form>

                </div>
            </div>

            <div class="mt-3">
                <a th:href="@{/register/showRegistrationForm}" class="btn btn-secondary" role="button">Register New User</a>
            </div>

        </div>

    </div>

</div>

<!-- Include Bootstrap 5 JS and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-vB3fGOFJz6v5t4g3/z5IoS5wP5g1JjrDMfNkX8A4w5gF5KI5mGj/uDcFZ2JwNvZf" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/zfU5bBu7L3v5z5F5uXn5z5T5G5K5U5T5V5U5T5B" crossorigin="anonymous"></script>
</body>

</html>
