<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" th:href="@{/shop}">
                    <img th:src="@{/images/logo.png}"  src="../static/images/logo.png"  width="auto" height="30px" alt="Logo" >

                </a>
                <!--<li class="nav-item active" >
                    <a class="nav-link" th:href="@{/admin}" >Admin Page</a>
                </li>-->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="NavbarProfileActions">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <form action="#" style="margin-right: 20px;" th:action="@{/admin}">
                        <button type="submit" class="btn btn-outline-primary">Admin Page</button>
                    </form>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-outline-primary">Logout</button>
                    </form>
                </li>

                <li class="btn btn-outline-primary">
                    <a th:href="@{/cart}">
                        Cart
                        <span th:text="${cartCount}">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
