<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<header class="bg-dark text-white text-center py-4">
    <h1>User Registered Successfully!</h1>
</header>

<main class="container mt-4">
    <section>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>User Name:</strong> <span th:text="${webUser.userName}"></span>
            </li>
            <li class="list-group-item">
                <strong>First Name:</strong> <span th:text="${webUser.firstName}"></span>
            </li>
            <li class="list-group-item">
                <strong>Last Name:</strong> <span th:text="${webUser.lastName}"></span>
            </li>
            <li class="list-group-item">
                <strong>Email:</strong> <span th:text="${webUser.email}"></span>
            </li>
        </ul>
    </section>
</main>

<footer class="bg-dark text-white text-center py-3 mt-4">
    <a th:href="@{/showMyLoginPage}" class="btn btn-primary">Login with New User Name</a>
</footer>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
